spring:
  name: environment-monitor

  datasource:
    url: jdbc:mysql://localhost:3306/monitoring?useSSL=false&serverTimezone=UTC
    username: root
    password: coderslab

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

debug: true
